.am-overlay {
  backface-visibility: hidden;
  position: fixed;
  z-index: 1000;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
  background: #2B2E38;
  background: rgba(43,46,56,.9);
  &.fadein {
    display: block;
    animation: fadein $transitiontime ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  &.fadeout {
    animation: fadeout $transitiontime ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
  }
}

html.am-modal-locked, body.am-modal-locked {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
}

.am-modal {
	position: fixed;
  border-radius: 5px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: -60px;
  max-width: 700px;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
  .am-content {
  	color: #fff;
  	background: $modalColor;
  	margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    bottom: 70px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .am-header {
      opacity: 0.8;
      background: #D54637;
      border-radius: 5px 5px 0 0;
      height: 60px;
      position: relative;
      h3 {
      	margin: 0;
      	padding: 0.4em;
      	text-align: center;
      	font-size: 2.4em;
      	font-weight: 300;
      }
      .am-cross {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
    .am-inner {
      overflow-y: auto;
      padding: 15px 40px 30px;
    	margin: 0;
    	font-weight: 300;
    	font-size: 1.15em;
      position: absolute;
      bottom: 0;
      top: 60px;
      iframe {
        display: none;
      }
      p {
      	margin: 0;
      	padding: 10px 0;
      }
    }
  }
}

.am-show {
	opacity: 1;
	visibility: visible;
}

.am-animation-done {
  overflow-y: hidden;
  .am-content {
    .am-inner {
      -webkit-overflow-scrolling: touch;
      iframe {
        display: block;
      }
    }
  }
}

@media (min-width: $screen-xs-min) {
  .am-modal {
  }
}
@media (min-width: $screen-sm-min) {
  .am-modal {
    top: 50%;
  	left: 50%;
  	width: 80%;
    max-width: 600px;
    height: 90%;
    transform: translateX(-50%) translateY(-46%);

  }
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
  .am-modal {
  }
}
