@-webkit-keyframes zoomin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  30% {
    opacity: 0; }
  100% {
    bottom: 0; } }

@keyframes zoomin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  30% {
    opacity: 0; }
  100% {
    bottom: 0; } }

@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  90% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 0;
    display: none; } }

@keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  90% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 0;
    display: none; } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.rModal-overlay {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
  background: #2B2E38;
  background: rgba(43, 46, 56, 0.9); }
  .rModal-overlay.fadein {
    display: block;
    -webkit-animation: fadein 0.3s ease-in;
            animation: fadein 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
  .rModal-overlay.fadeout {
    -webkit-animation: fadeout 0.3s ease-in;
            animation: fadeout 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    opacity: 1; }

html.rModal-locked, body.rModal-locked {
  overflow: hidden;
  height: 100%; }

.rModal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  padding: 10px 10px 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .rModal-wrapper.rModal-active {
    display: block;
    -webkit-animation: zoomin 0.3s;
            animation: zoomin 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .rModal-wrapper.rModal-inactive {
    -webkit-animation: zoomout 0.3s;
            animation: zoomout 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

.rModal {
  display: block;
  position: absolute;
  outline: 0;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
  left: 10px;
  right: 10px;
  bottom: 60px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  .rModal .content {
    text-align: left;
    padding: 20px; }

.rModal-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden; }
  .rModal-footer .rModal-closebutton {
    width: 100%;
    height: 50px;
    display: block;
    background-color: #D44E5D;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px; }

@media (min-width: 768px) {
  .rModal {
    left: 100px;
    right: 100px;
    bottom: 160px;
    top: 50px; }
  .rModal-footer {
    left: 100px;
    right: 100px;
    bottom: 100px; } }

@media (min-width: 992px) {
  .rModal {
    width: 100%; }
  .rModal-footer {
    width: 100%; } }
